<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include includes/snippets/meta_tags%>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS Animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsiveness.css">
    <link rel="stylesheet" href="/css/animation.css">

    <% include includes/snippets/drift_snippet %>
    <% include includes/snippets/gtag %> 
    
    <title>Assessments - GetaJobGH</title>

  </head>
  <body>

    <% include includes/landing_page/mobile_nav %>

    <nav>

    <div class="site_header">

        <div class="site_container">

            <% include includes/landing_page/landing_page_nav %>

            <div class="row d-flex flex-row align-items-center py-5">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12 header_text">
                            <h3>
                                Talk to your <span> best </span> <br> candidates faster.
                            </h3>            
                            <p class="pt-4">
                                Hire the right talent by evaluating on-the-job skills that matter most to <br> your business.
                            </p>   
                            
                            <a href="/register">
                                <button class="post_a_job my-5">
                                    Get Started
                                </button>
                            </a>
                        </div>
                        <!-- <div class="col-md-12 clients">
                            <p>
                                Trusted By:
                            </p>

                            <div class="row pt-3">
                                <div class="col-sm-12 d-flex flex-row align-items-center">
                                    <div class="mr-4">
                                        <img src="../utils/images/paystack-removebg-preview.png" alt="">
                                    </div>
                                    <div class="mr-4">
                                        <img src="../utils/images/google-removebg-preview.png" alt="">
                                    </div>
                                    <div class="mr-4">
                                        <img src="../utils/images/kpmg-removebg-preview.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>
                <div class="col-sm-6 header_right_img">

                    <div class="header_img">
                        <img src="/images/candi.png" alt="">
                    </div>

                </div>
            </div>

        </div>

    </div>

    </nav>


    <section class="fifty_Puls">
        <div class="fifty_plus_div">
            <div class="site_container">

                <div class="flex_row_center_spaceBetween job_steps">

                    <div class="fifty_plus_header_img">
                        <img src="/images/fifty.png" alt="Experts">                        
                    </div>
                    <div class="fifty_plus_header">
                        <h3>
                                50+ Tests Designed by <span> Experts </span>
                        </h3>
                        <p class="mt-5 mb-4">
                                Easily get started by selecting from over 50 expertly designed 
                                 test modules to match your needs — or build a custom test 
                                  unique to you.
                        </p>
                        <p>
                                Our comprehensive library includes a wide range of job levels 
                                 and industries to let you screen candidates for their aptitude, 
                                 cognitive abilities, and specific skills that fit your hiring needs.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="fifty_Puls">
            <div class="fifty_plus_div">
                <div class="site_container">
    
                    <div class="flex_row_center_spaceBetween job_steps">

                            <div class="fifty_plus_header">
                                    <h3>
                                            Detailed Candidate Analysis
                                    </h3>
                                    <p class="mt-5 mb-4">
                                            Easily get started by selecting from over 50 expertly designed 
                                             test modules to match your needs — or build a custom test 
                                              unique to you.
                                    </p>
                                    <p>
                                            Our comprehensive library includes a wide range of job levels 
                                             and industries to let you screen candidates for their aptitude, 
                                             cognitive abilities, and specific skills that fit your hiring needs.
                                    </p>
                            </div>

                        <div class="fifty_plus_header_img">
                            <img src="/images/analysis_image.png" alt="Detailed Analysis">                        
                        </div>
                        
                    </div>
    
                </div>
            </div>
    </section>

    <section class="additional_features">
        <div class="additional_features_div">
            <div class="site_container">

                <div class="addi_header">
                    <h3>
                            Additional Features
                    </h3>
                    <p class="pt-4">
                            Every day we index millions of jobs directly from employer websites. We’re committed to accurate, <br>
                             high-quality jobs so you won’t find old, duplicated, or spammy listings here.
                    </p>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center features">
                    <div>
                        <h6>
                                Sort Candidate
                        </h6>                        
                        <p>
                                Easily identify top-performing talent by choosing
                                 to sort your candidates by their scores
                        </p>
                    </div>
                    <div>
                            <h6>
                                    Interactive Tests
                            </h6>                        
                            <p>
                                    Simulations of real-life scenarios and timed 
                                     answers give insight into how candidates will 
                                      perform 
                            </p>
                    </div>
                    <div>
                            <h6>
                                Scoring Dimensions
                            </h6>                        
                            <p>
                                Detailed analysis to see how candidates perform 
                                 on the skills you require for success
                            </p>
                    </div>
                    <div>
                            <h6>
                                Job-Relevant Assessments
                            </h6>                        
                            <p>
                                Quickly search our assessments library to find 
                                 assessments relevant to your job
                            </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

 <!--   
    <section class="video_section">
        <div class="video_sect">
            <div class="site_container">

                <div class="video_header">

                    <h4>
                        Watch how it works
                    </h4>
                    <p>
                        Every day we index millions of jobs directly from employer websites. We’re committed to accurate, <br>
                         high-quality jobs so you won’t find old, duplicated, or spammy listings here.
                    </p>

                </div>

                <div class="video_element">
                        <video  controls>
                                <source src="/video/mov_bbb.mp4" type="video/mp4">                            
                        </video>
                </div>

            </div>
        </div>
    </section>
-->

    <section class="section_seven">
        <div class="seven_section">
            <div class="site_container">

                <div class="get_started_vid d-flex flex-column">

                    <div class="start_info mx-auto text-center">
                        <h2>
                            Start sending assessments in 5 minutes. 
                        </h2>
                        <p class="py-2">
                            Sign up, create an assessment, and invite a candidate. It’s that easy
                        </p>

                        <a href="/register">
                            <button>
                                Get Started
                            </button>
                        </a>
                       
                    </div>

                </div>

            </div>
        </div>
    </section>

    <% include includes/landing_page/footer %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/jQuery.min.js"></script>    
    <script src="/js/main.js"></script> 
</body>
</html>