<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include includes/snippets/meta_tags%>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS Animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsiveness.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    
    <% include includes/snippets/drift_snippet %>
    <% include includes/snippets/gtag %> 
    
    <title>Create Password - GetaJobGH</title>

  </head>
  <body>

  <div class="left_side_2">   
      <div class="logo mr-5" style="margin-top:10px;margin-left: 10px;">
          <a href="/"> <img src="/images/logo.png" alt="logo"></a>
      </div>   
  </div> 

    <div class="right_side">

      <div class="shadow form_container">

        <div class="row">
          <div class="col-md-12 h_green_text">
            <h4>
                Create a New Password
            </h4>
          </div>
          <div class="col-md-12 pt-3 sub_text">
            <p>
                Please enter your new password. Make sure it's secure.
            </p></br>

          </div>
        </div>

        <form action="/create-password-for-user" method="post">
            <div class="row">

                <input type="hidden" name="user_id" id="user_id" value="<%=user_id%>">

                <div class="input_div">
                    <label for="password">Enter Password</label>
                    <input type="password" name="password" id="password" autocomplete="off" required>
                    <div class="form_error_msg" id="newPasswordErr"></div>
                </div>

                <div class="input_div">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password" autocomplete="off" required>
                    <div class="form_error_msg" id="confirmPasswordErr"></div>
                </div>
                
            </div> 

            <div class="row pt-4"> 
            
                <button class="full_btn">
                  Change Password 
                </button>
            
            </div>
        </form>
       
      </div>

    </div>


<% include includes/global_dashboard_scripts%>
            
<script type="text/javascript">
    // Defining a function to display error message
    function printError(elemId, hintMsg) {
        document.getElementById(elemId).innerHTML = hintMsg;
    }
</script>


<% include includes/global_dashboard_scripts%>

<% include includes/global_dashboard_bottom%>