<!doctype html> 
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% include includes/snippets/meta_tags%>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS Animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Cookie Consent CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/responsiveness.css">
    <link rel="stylesheet" href="/css/animation.css">
    
    <% include includes/snippets/drift_snippet %>
    <% include includes/snippets/gtag %>
    
    <title>Cookie Policy - GetaJobGH</title>

  </head>
  <body>

    <nav>

    <div class="site_header_two">
        <div class="site_container">

            <% include includes/landing_page/landing_page_nav %>

            <div class="row d-flex flex-row align-items-center justify-content-center py-5">
                <div class="center_text pt-5 header_with_just_text">
                    <div class="site_row center_text">
                        <h2>
                            Cookie Policy
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </nav>


    <section class="job_full_desc">
        <div class="site_row">
            <div class="site_container policy_page">
                <section>
                    <header>
                        <h5>
                            About Cookies
                        </h5>
                    </header>
                    <article>
                        <p>
                            Cookies are a kind of short-term memory for the web. They are stored in your browser and enable a site to ‘remember’ little bits 
                            of information between pages or visits. Cookies can be used by web servers to identify and track users as they navigate different 
                            pages on a website, and to identify users returning to a website. Cookies may be either “persistent” cookies or “session” cookies. 
                            A persistent cookie consists of a text file sent by a web server to a web browser, which will be stored by the browser and will 
                            remain valid until its set expiry date (unless deleted by the user before the expiry date). A session cookie, on the other hand, 
                            will expire at the end of the user session, when the web browser is closed.
                        </p>                            
                    </article>
                </section>
                    
                <section>
                    <header>
                        <h5>
                            Cookies on our Website
                        </h5>
                    </header>
                    <article>
                        <p>
                            We use both SESSION COOKIES (which expire once you close your web browser) and PERSISTENT COOKIES 
                            (which stay on your device until you delete them). We have also grouped our cookies into the following categories, 
                            to make it easier for you to understand why we need them:
                        </p>
                        <ol>
                            <li><b>Functionality: </b>These cookies enable technical performance of our websites and allow us to ‘remember’ 
                                the choices you make and your preferences.
                            </li>
                            <li><b>Performance: </b>These cookies allow us to collect certain information about how you navigate the Sites. 
                                They help us to understand which parts of our websites are interesting to you and which are not as well as what we 
                                can do to improve them.
                            </li>
                        </ol>
                    </article>
                </section>

                <section>
                    <header>
                        <h5>
                            How we use Cookies
                        </h5>
                    </header>
                    <article>
                        <p>
                            Cookies do not contain any information that personally identifies you, but personal information that we store 
                            about you may be linked, by us, to the information stored in and obtained from cookies. The cookies used on this 
                            website include those which are strictly necessary cookies for access and navigation, cookies that track usage 
                            (performance cookies) and remember your choices (functionality cookies). 
                        </p>
                        <p>
                            We may use the information we obtain from your use of our cookies for the following purposes: 
                        </p>
                        <ul>
                            <li>To recognize your computer when you visit our website</li>
                            <li>To retain clients’ email addresses and passwords when they log in to our website</li>
                            <li>To track you as you navigate our website</li>
                            <li>To improve the website’s usability i.e. our Live Chat application to answer questions you have in real time</li>
                            <li>To analyze the use of our website - such as how many people visit us each day</li>
                            <li>In the administration of our website.</li>    
                        </ul>                        
                    </article>
                </section>
            
                <section>
                    <header>
                        <h5>
                            Third-party Cookies
                        </h5>
                    </header>
                    <article>
                        <p>
                            In some special cases we also use cookies provided by trusted third parties. The following section details which 
                            third party cookies you might encounter through this site.
                        </p>
                        <ul>
                            <li>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for 
                                helping us to understand how you use the site and ways that we can improve your experience. These cookies may track 
                                things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content. 
                                For more information on Google Analytics cookies, see the official Google Analytics page.
                            </li>
                            <li>We also use social media buttons and/or plugins on this site that allow you to connect with your social network 
                                in various ways. For these to work the following social media sites including; Twitter, LinkedIn, Facebook, YouTube, 
                                Instagram will set cookies through our site which may be used to enhance your profile on their site or contribute to the 
                                data they hold for various purposes outlined in their respective privacy policies.
                            </li>                            
                        </ul> 
                    </article>
                </section>

                <section>
                    <header>
                        <h5>
                            Disabling Cookies
                        </h5>
                    </header>
                    <article>
                        <p>
                            You can prevent the setting of cookies by adjusting the settings on your browser (see your browser's "Help" 
                            for how to do this). Be aware that disabling cookies will affect the functionality of this and many other 
                            websites that you visit. Disabling cookies will usually result in also disabling certain functionalities and 
                            features of this site. Therefore, it is recommended that you do not disable cookies.
                        </p>
                    </article>
                </section>

                <section>
                    <header>
                        <h5>
                            More Information
                        </h5>
                    </header>
                    <article>
                        <p>
                            Please do not hesitate to get in touch with us using the contact form on our contact page if you have any questions 
                            or queries regarding how we use cookies or anything else on our website.
                        </p>
                    </article>
                </section>
            </div>
        </div>
    </section>

    <% include includes/landing_page/footer %> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script src="/js/jQuery.min.js"></script>    
    <script src="/js/main.js"></script> 
</body>
</html>