<!doctype html> 
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% include includes/snippets/meta_tags%>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS Animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Cookie Consent CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/responsiveness.css">
    <link rel="stylesheet" href="/css/animation.css">
    
    <% include includes/snippets/drift_snippet %>
    <% include includes/snippets/gtag %>
    
    <title>Privacy Policy - GetaJobGH</title>

  </head>
  <body>

    <nav>

    <div class="site_header_two">
        <div class="site_container">

            <% include includes/landing_page/landing_page_nav %>

            <div class="row d-flex flex-row align-items-center justify-content-center py-5">
                <div class="center_text pt-5 header_with_just_text">
                    <div class="site_row center_text">
                        <h2>
                            Privacy Policy
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </nav>


    <section class="job_full_desc">
        <div class="site_row">
            <div class="site_container policy_page">
                <section>
                    <header>
                        <h5>
                            Who is Responsible for Your Personal Information?
                        </h5>
                    </header>
                    <article>
                        <p>
                            C&I LEASING is your data controller and is responsible for processing your personal information described 
                            in this Privacy Policy. C&I LEASING uses the personally identifiable information you provide to communicate 
                            with you in response to your enquiries, to provide the services you request, and to manage your account. 
                            Any personally identifiable information gathered by C&I LEASING will be used for these purposes only. 
                            We will not disclose or divulge such data outside of C&I LEASING, other than to third party providers that 
                            assist us in providing these services to you. C&I LEASING does not share, sell, rent or trade personally 
                            identifiable information with third parties for their promotional purposes.
                        </p>                            
                    </article>
                </section>
                    
                <section>
                    <header>
                        <h5>
                            Why does C&I LEASING need to collect and store personal data?
                        </h5>
                    </header>
                    <article>
                        <p>
                            In order for us to provide you with a service, we need to collect personal data. When you sign up for any 
                            C&I LEASING Online Solution or other C&I LEASING service or promotion that requires registration, we ask 
                            you for personal information such as your name, email address, date of birth, marital status, gender account 
                            number, phone number, next of kin, tax status information, recruitment information, references, other information 
                            included in the CV, qualification, employment records, CCTV footage. We may also collect special categories of 
                            personal data such as ethnicity, religion, health, including any medical condition. For certain services, 
                            such as our payment services, we require your debit or credit card information. We typically do not store this 
                            information and when we do, we maintain the data in encrypted form on secure servers. We may combine the 
                            information you submit under your account with information from other C&I LEASING services or third parties 
                            in order to provide you with a better experience and to improve the quality of our services. In any event, 
                            we are committed to ensuring that the information we collect and use is appropriate for this purpose, and does 
                            not constitute an invasion of your privacy. In terms of being contacted for marketing purposes C&I LEASING 
                            would contact you for additional consent.
                        </p>    
                    </article>
                </section>

                <section>
                    <header>
                        <h5>
                            Will C&I LEASING share my personal data with anyone else?
                        </h5>
                    </header>
                    <article>
                        <p>
                            C&I LEASING only shares personal information with other companies or individuals in the following limited circumstances:
                        </p>
                        <p>
                            We have your consent. We require consent for the sharing of any sensitive personal information.
                        </p>
                        <p>
                            We provide such information to our subsidiaries, affiliated companies or other trusted businesses or persons 
                            for the purpose of processing personal information on our behalf. We require that these parties agree to process 
                            such information based on our instructions and in compliance with the Data Protection Laws of Ghana, the Company’s 
                            Data Protection Policy and well established  confidentiality and data protection practices. When they no longer 
                            need your data for the above stated purposes, they will dispose of the details in line with C&I LEASING procedures and policies. 
                        </p>
                        <p>
                            We have very robust policies and systems that ensure that access to, use of, preservation or disclosure of such information is 
                            reasonably necessary to:
                            (a) satisfy any applicable law, regulation, legal process or enforceable governmental request,
                            (b) enforce applicable Terms of Service, including investigation of potential violations thereof,
                            (c) detect, prevent, or otherwise address fraud, security or technical issues, or
                            (d) protect against imminent harm to the rights, property or safety of C&I LEASING its users or 
                            the public as required or permitted by law.
                        </p>
                        <p>
                            If a client becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we 
                            will provide notice before personal information is transferred and becomes subject to a different privacy policy.
                        </p>    
                    </article>
                </section>
            
                <section>
                    <header>
                        <h5>
                            How will C&I LEASING use the personal data it collects about me? 
                        </h5>
                    </header>
                    <article>
                        <p>
                            C&I LEASING will process (collect, store and use) the information you provide in a manner compatible with the Nigeria 
                            Data Protection Regulation (NDPR). We review our data collection, storage and processing practices to ensure that we 
                            only collect, store and process the personal information needed to provide or improve our services. We will endeavor 
                            to keep your information accurate and up to date, and not keep it for longer than is necessary, but we depend on our 
                            users to update or correct their personal information whenever necessary. C&I LEASING is required to retain information 
                            in accordance with the law, such as information needed for income tax and audit purposes. How long certain kinds of 
                            personal data should be kept may also be governed by specific business-sector requirements and agreed practices. 
                            Personal data may be held in addition to these periods depending on individual business needs.
                        </p>    
                    </article>
                </section>

                <section>
                    <header>
                        <h5>
                            Your Rights as a Data Subject
                        </h5>
                    </header>
                    <article>
                        <p>
                            At any point while we are in possession of or processing your personal data, you, the data subject, have the following rights:
                        </p>
                        <ul>
                            <li><b>Right of access</b> – You have the right to request a copy of the information that we hold about you.</li>
                            <li><b>Right of rectification</b> – You have a right to correct data that we hold about you that is inaccurate or incomplete.</li>
                            <li><b>Right to be forgotten</b> – In certain circumstances you can ask for the data we hold about you to be erased from our records.</li>
                            <li><b>Right to restriction of processing</b> – Where certain conditions apply to have a right to restrict the processing.</li>
                            <li><b>Right of portability</b> – You have the right to have the data we hold about you transferred to another organisation.</li>
                            <li><b>Right to object</b> – you have the right to object to certain types of processing such as direct marketing.</li>
                            <li><b>Right to object to automated processing, including profiling</b> – You also have the right to be subject to the legal effects of automated processing or profiling.</li>
                        </ul>
                    </article>
                </section>

                <section>
                    <header>
                        <h5>
                            Contact Us
                        </h5>
                    </header>
                    <article>
                        <p>
                            If you have any questions or suggestions regarding our privacy policy, please contact our Data Protection Officer 
                            using the contact us page on our website.
                        </p>
                    </article>
                </section>
            </div>
        </div>
    </section>

    <% include includes/landing_page/footer %> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script src="/js/jQuery.min.js"></script>    
    <script src="/js/main.js"></script> 
</body>
</html>