<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS Animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsiveness.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    
    <title>Sign In</title>

  </head>
  <body>


    <div class="left_side">      
    </div>

    <div class="right_side d-flex justify-content-center align-items-center">

      <div class="shadow form_container">

        <div class="row">
          <div class="col-md-12 h_green_text">
            <h4>
                Welcome to GetaJobGH
            </h4>
          </div>
          <div class="col-md-12 pt-3 sub_text">
            <p>
                Please fill in these information to get started
            </p></br>

          </div>
        </div>

        <form name="createPasswordForm" onsubmit="return validateCreatePasswordForm()"
          action="/recruiters/create-password-for-invited-user" method="post">
            <div class="row">

                <input type="hidden" name="user_id" id="user_id" value="<%=user_id%>">
                
                <div class="input_div">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name">
                    <div class="form_error_msg" id="firstNameErr"></div>
                </div>
                
                <div class="input_div">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name">
                    <div class="form_error_msg" id="lastNameErr"></div>
                </div>

                <div class="input_div">
                    <label for="password">Enter Password</label>
                    <input type="password" name="password" id="password" autocomplete="off">
                    <div class="form_error_msg" id="newPasswordErr"></div>
                </div>

                <div class="input_div">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password" autocomplete="off">
                    <div class="form_error_msg" id="confirmPasswordErr"></div>
                </div>
                
            </div> 

            <div class="row pt-4"> 
            
                <button class="full_btn">
                  Save Information 
                </button>
            
            </div>
        </form>
       
      </div>

    </div>


<% include includes/global_dashboard_scripts%>
            
<script type="text/javascript">
    // Defining a function to display error message
    function printError(elemId, hintMsg) {
        document.getElementById(elemId).innerHTML = hintMsg;
    }
</script>


<% include includes/global_dashboard_bottom%>