<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include includes/snippets/meta_tags%>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS Animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Cookie Consent CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsiveness.css">
    <link rel="stylesheet" href="/css/animation.css">
    
    <% include includes/snippets/drift_snippet %>
    <% include includes/snippets/gtag %> 

    <title>Recruiters - GetaJobGH</title>

  </head>
  <body>

    <% include includes/landing_page/mobile_nav %>

    <nav>

    <div class="site_header">

        <div class="site_container">

            <% include includes/landing_page/landing_page_nav %>

            <div class="row d-flex flex-row align-items-center py-5">
                <div class="col-md-6 header_left_part">

                    <div class="row">
                        <div class="col-md-12 header_text">
                            <h3 class="header_text_h3">
                                Hire the right people <br> for the <span>jobs</span>
                            </h3>            
                            <p class="pt-4">
                                Build a world-class team faster than ever.
                                GetaJobGH’s matching algorithm connects you 
                                directly with highly qualified candidates.
                            </p>   
                            
                            <a href="/login">
                                <button class="post_a_job my-5">
                                    Post your jobs for free
                                </button>
                            </a>
                        </div>
                        <div class="col-md-12 clients">
                            <p>
                                Trusted By:
                            </p>

                            <div class="pt_3">
                                <div class="clients_logo_recruiters_page">
                                    <div class="">
                                        <img src="/images/jumia_logo_grey.png" alt="jumia_logo_grey">
                                    </div>
                                    <div class="">
                                        <img src="/images/metka_logo_grey.png" alt="metka_logo_grey">
                                    </div>
                                    <div class="">
                                        <img src="/images/societe_generale_logo_grey.png" alt="societe_generale_grey.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 header_right_img">

                    <div class="header_img">
                        <img src="/images/landing_image_2.jpg" alt="landing_image_2">
                    </div>

                </div>
            </div>

        </div>

    </div>

    </nav>

    <section class="comp_second">

        <div class="second_section">

            <div class="site_container">

                <div class="flex_row_center_spaceBetween job_seekers">
                    <div class="comp_sec_image">

                        <img src="/images/1.png" alt="image_1">
                        
                    </div>
                    <div class="comp_sec_desc" >
                        <h3>
                            Access a huge, diverse set of <span> job </span> seekers with every posting
                        </h3>
                        <p class="mt-5">
                            The finest candidates are out there - the individuals with the talent and character
                             that would fit impeccably with your culture and make your team flourish even more. 
                             But to find them, you need to rise above the noise, capture their attention and then
                              persuade them to choose you over anyone else.
                        </p>
                        <p class="mt-4 mb-4">
                            Every company is distinct—and every candidate wants something different 
                            from their work. We believe that employers and candidates are eventually 
                            looking for the same thing: the right fit. We’re here to help them find it.
                        </p>

                      <!--  <a href="#"> Learn more <i class="fas fa-long-arrow-alt-right"></i> </a> -->

                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="how_section">
        <div class="how_it_works">

            <div class="site_container job_steps">

                <div class="how_head">
                    <h3>
                        How it Works
                    </h3>

                    <p class="pt-4">
                        We connect your company with the candidates that fit your opened positions. <br>
                        Our goal is to attract the right talent and ensure you can rapidly and successful 
                        sort and shortlist the candidates you need.
                    </p>

                </div>

                <div class="flex_row_center_spaceBetween how_it_works_each_step">
                    <div class="">
                        <h4>
                            Post a Job                            
                        </h4>
                        <p class="pt-4">
                            Post your jobs online by creating an account and entering your job description. 
                            Review applications, manage candidates and schedule interviews from your 
                            recruiter dashboard.
                        </p>
                    </div>

                    <div class=" text-center timeline">
                        <span class="noDisplay">
                            1
                        </span>
                    </div>

                    <div class="">
                        <img src="/images/comp1.png" alt="copm1">
                    </div>
                </div>

                <div class="flex_row_center_spaceBetween how_it_works_each_step">
                        
                        <div class="">
                            <img src="/images/comp2.png" alt="comp2">
                        </div>
                        <div class=" text-center timeline">
                            <span class="spantwo">
                                2
                            </span>
                        </div>
                        <div class="">
                                <h4>
                                    We recommend candidates for your opening                           
                                </h4>
                                <p class="pt-4">
                                    We take away the stress of reviewing thousands of applications and help you filter 
                                    through the candidates and recommend only the best candidates to you.
                                </p>
                        </div>
                </div>

                <div class="flex_row_center_spaceBetween how_it_works_each_step">
                                        
                        <div class="">
                                <h4>
                                    Custom Filtering through candidates
                                </h4>
                                <p class="pt-4">
                                    Use custom filters to save roles & sort through our pool of thousands 
                                    of vetted candidates. Search by skill, experience and more.
                                </p>
                        </div>

                        <div class=" text-center timeline">
                            <span class="spanthree">
                                3
                            </span>
                        </div>

                        <div class="">
                                <img src="/images/comp3.png" alt="comp3" id="imgup">
                        </div>
                </div>

                <div class="flex_row_center_spaceBetween how_it_works_each_step">


                        <div class="">
                                <img src="/images/comp4.png" alt="comp4">
                        </div>           
                            
                        <div class=" text-center timeline">
                            <span>
                                4
                            </span>
                        </div>
                        
                        <div class="">
                                <h4>
                                    Request for interviews with the click of a button                            
                                </h4>
                                <p class="pt-4">
                                    Schedule interviews with the tap of a button. Set date and venue and manage candidate invites 
                                    all from your dashboard.
                                </p>
                        </div>

                            
                </div>

            </div>

        </div>
    </section>

    <section class="join_companies">
        <div class="join_companies_div">
            <div class="site_container">
                <div class="join_title">
                    <h3>
                        Join other companies using our platform to hire
                    </h3>
                    <p class="py-5">
                        Join other companies that have used GetaJobGH to source and find the 
                        best employees <br>for their vacant position. Do not be left out using a 
                        process that optimizing your hiring drive.
                    </p>

                </div>

                <div class="flex_row_wrap pt_3">
                    <div class="clients_logo_recruiters_page_2">
                        <div>
                            <img src="/images/jumia_logo_grey.png" alt="jumia_logo_grey">
                        </div>
                        <div>
                            <img src="/images/ge_logo_grey.png" alt="ge_logo_grey">
                        </div>
                        <div>
                            <img src="/images/unilever_logo_grey.png" alt="unilever_logo_grey">
                        </div>
                        <div>
                            <img src="/images/metka_logo_grey.png" alt="metka_logo_grey">
                        </div>
                        <div>
                            <img src="/images/societe_generale_logo_grey.png" alt="societe_generale_grey.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="section_six">
        <div class="sixth_section">
            <div class="site_container">
                <div class="comment_part_title">
                    <h3>
                        What are our customers are saying
                    </h3>
                </div>

                <div class="comments">
                    <div class="">

                            <div class="for_comment">
                                    <img src="/images/comTwo.png" alt="">
                            </div>

                    </div>
                    <div class="">

                            <div class="d-flex flex-row arr_scroll">
                                    <div class="ml-auto mr-3 back">
                                            <i class="fas fa-long-arrow-alt-left"></i>
                                    </div>
                                    <div class="forward">
                                            <i class="fas fa-long-arrow-alt-right"></i>
                                    </div>
                            </div>

                        <div class="d-flex flex-column  pl_5 comment_text_div">
                            <div class="py_4 comment_text">
                                <p>
                                    The platform is really convenient to reach out to 
                                    companies & I have managed  to secure 2 interviews already! 
                                    I can also track my application status instead of wondering
                                     whether the company has seen or shortlisted me
                                </p>
                            </div>

                            <div class="name_n_role">

                                    <h5>
                                        Imra Black
                                    </h5>
                                    <p>
                                        HR Manager at MasterCard
                                    </p>
        
                                </div>
                        </div>

                        
                            
                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="section_seven">
        <div class="seven_section">
            <div class="site_container">

                <div class="get_started get_started_comp flex_col">

                    <div class="start_info ml_auto">
                        <h2>
                            Hire the right people for the job 
                        </h2>
                        <p class="py_2">
                            Create an account and start applying
                        </p>

                        <a href="/register">
                            <button> 
                                Get Started
                            </button>
                        </a>
                       
                    </div>

                

                </div>

            </div>
        </div>
    </section>

    <% include includes/landing_page/footer %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script src="/js/jQuery.min.js"></script>    
    <script src="/js/main.js"></script> 
</body>
</html>