<footer>
    <div class="footer_div">
        <div class="site_container futa">
            <div class="d-flex flex-row justify-content-between">
                <div class="about">

                    <img src="/images/logo.png" alt="Logo">

                    <p>
                        GetaJobGH provides a full online service <br>
                        for anyone looking for a new job. We're <br>
                        not a recruitment agency, we're a job site.
                    </p>
                </div>

                <div class="futa_links">
                    <h6>
                        Information
                    </h6>

                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                    <a href="#">FAQs</a>
                    <a href="/privacy-policy">Privacy Policy</a>
                    <a href="/cookie-policy">Cookie Policy</a>
                </div>

                <div class="futa_links">
                    <h6>
                        Job Seekers
                    </h6>

                    <a href="/register">Create Account</a>
                    <a href="/find-a-job">Available Jobs</a>
                    
                </div>

                <div class="futa_links">
                    <h6>
                        Employers
                    </h6>
    
                    <a href="/recruiter-info">Information</a>
                    <a href="/assessment">Assessments</a>
                    <a href="/register">Create Account</a>
                    <a href="/login">Post a Job</a>
                </div>

                <div class="futa_links social_m_link">
                    <div class="site_row">
                        <h6>
                            Follow us on Social Media:
                        </h6>
                    </div>
                    <div class="site_row flex_row social_m_icon">
                        <div> 
                            <a href="https://www.facebook.com/GetajobGhana" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/getajobgh" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <div>
                            <a href="https://twitter.com/getajobgh" target="_blank"> 
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="futa_copyright">
                <p>
                    © Copyright GetaJobGH 2020, All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>