<!-- The Modal -->
<div class="modal fade job_desc_modal" id="add_education_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
          
                <!-- Modal body -->
                <div class="modal-body modal_interview_invite">
                    <div class="site_row mb-5">
                        <div class="site_row">
                            <p>Add Education</p>
                        </div>                   
                    </div>
					
					<div class="add_experience_modal_form_div">
							<div class="row">
                                <div class="col-md-12 input_div">
                                    <label for="edu_name_of_institution"> School </label>
                                    <input type="text" name="edu_name_of_institution" id="edu_name_of_institution">
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6 input_div">
                                    <label for="edu_qualification"> Qualification </label>
                                    <select name="edu_qualification" id="edu_qualification">
                                    </select>
                                </div>
                                

                                <div class="col-md-6 input_div">
                                    <label for="edu_course_of_study">Field of Study</label>
                                    <input type="text" name="edu_course_of_study" id="edu_course_of_study">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-7 input_div">
                                                <label for="edu_start_month"> Start Month </label>
                                                <select name="edu_start_month" id="edu_start_month">
                                                    <option value="January">January</option>
                                                    <option value="February">February</option>
                                                    <option value="March">March</option>
                                                    <option value="April">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="October">October</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>
                                                </select>
                                        </div>
                                        <div class="col-md-5 input_div">
                                                <label for="edu_start_year"> Start Year </label>
                                                <select name="edu_start_year" id="edu_start_year">                                                    
                                                </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                        <div class="row">
                                                <div class="col-md-7 input_div">
                                                        <label for="edu_end_month"> End Month </label>
                                                        <select name="edu_end_month" id="edu_end_month">
                                                            <option value="January">January</option>
                                                            <option value="February">February</option>
                                                            <option value="March">March</option>
                                                            <option value="April">April</option>
                                                            <option value="May">May</option>
                                                            <option value="June">June</option>
                                                            <option value="July">July</option>
                                                            <option value="August">August</option>
                                                            <option value="September">September</option>
                                                            <option value="October">October</option>
                                                            <option value="November">November</option>
                                                            <option value="December">December</option>
                                                        </select>
                                                </div>
                                                <div class="col-md-5 input_div">
                                                        <label for="edu_end_year"> End Year </label>
                                                        <select name="edu_end_year" id="edu_end_year">
                                                        </select>
                                                </div>
                                            </div>

                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-md-12 py-3">
                                    <input type="checkbox" name="edu_currently_attend" value="1"> I Currently attend here
                                </div>
                            </div> -->
    
        
                            <div class="flex_row_justify_between_align_center prof_link_btns">
                                <div class="cancel_link">
                                </div>

								<div class="row pt-4">
									<div class="site_row text-center invite_btn" id="save_education_btn">
										<button class="normal_btn">Add Education</button>
									</div>
								</div>
							</div>
        
                    
                </div>

                   

                </div>       
            
            </div>
        </div>
    </div>