<!-- The Modal -->
<div class="modal fade job_desc_modal" id="add_experience_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
          
                <!-- Modal body -->
                <div class="modal-body modal_interview_invite">
                    <div class="site_row mb-5">
                        <div class="site_row">
                            <p>Add Work Experience</p>
                        </div>                   
                    </div>
					
					<div class="add_experience_modal_form_div">
                        
                            <div class="row">
                                <div class="col-md-12 input_div">
                                    <label for="company_name"> Company Name </label>
                                    <input type="text" name="company_name" id="company_name">
                                </div>
                            </div>
        
                            <div class="row">            
                                <div class="col md-6 input_div">
                                    <label for="job_title"> Job Title </label>
                                    <input type="text" name="job_title" id="job_title">
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 input_div">
                                            <label for="state">Region</label>
                                            <select name="state" id="state">
                                            </select>
                                        </div>
            
                                        <div class="col-md-6 input_div">
                                            <label for="country">Country</label>
                                            <select name="country" id="country">
                                                <option value="Ghana">Ghana</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-7 input_div">
                                            <label for="start_month"> Start Month </label>
                                            <select name="start_month" id="start_month">
                                                <option value="January">January</option>
                                                <option value="February">February</option>
                                                <option value="March">March</option>
                                                <option value="April">April</option>
                                                <option value="May">May</option>
                                                <option value="June">June</option>
                                                <option value="July">July</option>
                                                <option value="August">August</option>
                                                <option value="September">September</option>
                                                <option value="October">October</option>
                                                <option value="November">November</option>
                                                <option value="December">December</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5 input_div">
                                            <label for="start_year"> Start Year </label>
                                            <select name="start_year" id="start_year">    
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-7 input_div">
                                            <label for="end_month"> End Month </label>
                                            <select name="end_month" id="end_month">
                                                <option value="January">January</option>
                                                <option value="February">February</option>
                                                <option value="March">March</option>
                                                <option value="April">April</option>
                                                <option value="May">May</option>
                                                <option value="June">June</option>
                                                <option value="July">July</option>
                                                <option value="August">August</option>
                                                <option value="September">September</option>
                                                <option value="October">October</option>
                                                <option value="November">November</option>
                                                <option value="December">December</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5 input_div">
                                            <label for="end_year"> End Year </label>
                                            <select name="end_year" id="end_year">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col md-12 input_div">
                                    <label for="job_description"> Job Description</label>
                                <textarea name="job_description" id="job_description" cols="30" rows="4"></textarea>
                                </div>
                            </div>
        
                            <div class="flex_row_justify_between_align_center prof_link_btns">
                                <div class="cancel_link">
                                </div>

								<div class="row pt-4">
									<div class="site_row text-center invite_btn" id="save_experience_btn">
										<button class="normal_btn">Add Experience</button>
									</div>
								</div>
							</div>
        
                    
                </div>

                   

                </div>       
            
            </div>
        </div>
    </div>