<div class="modal fade job_desc_modal" id="add_skill_modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          
            <!-- Modal body -->
            <div class="modal-body modal_interview_invite">
                <div class="site_row">
                    <div class="site_row py-5">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="required_skills">Select your Skills</label>
                                    <span id="skills_autocomplete_select" class="rs-autocomplete-select"></span>
                                    <input type="hidden" id="skills" name="skills">
                                </div>
                            </div>                
                        </div>
                    </div>                  
                </div>
    
                <div class="site_row text-center invite_btn" id="save_skills_btn">
                    <button>
                        Save
                    </button>
                </div>  
            </div>
          
        </div>
    </div>
</div>