<!-- The Modal -->
<div class="modal fade job_desc_modal" id="edit_certification_modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
      
            <!-- Modal body -->
            <div class="modal-body modal_interview_invite">
                <div class="site_row mb-5">
                    <div class="site_row">
                        <p>Edit Certification</p>
                    </div>                   
                </div>
                
                <div class="add_experience_modal_form_div">
                    <div class="row">
                        <input type="hidden" name="update_certification_id" id="update_certification_id">

                        <div class="col-md-12 input_div">
                            <label for="update_certification_name">Certification Name</label>
                            <input type="text" name="update_certification_name" id="update_certification_name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col md-12 input_div">
                            <label for="update_certification_description">Certification Description</label>
                        <textarea name="update_certification_description" id="update_certification_description" cols="30" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        
                        <p>Date Obtained</p>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 input_div">
                                    <label for="update_date_obtained_month">Month</label>
                                    <select name="update_date_obtained_month" id="update_date_obtained_month">
                                        <option value="January">January</option>
                                        <option value="February">February</option>
                                        <option value="March">March</option>
                                        <option value="April">April</option>
                                        <option value="May">May</option>
                                        <option value="June">June</option>
                                        <option value="July">July</option>
                                        <option value="August">August</option>
                                        <option value="September">September</option>
                                        <option value="October">October</option>
                                        <option value="November">November</option>
                                        <option value="December">December</option>
                                    </select>
                                </div>
                                <div class="col-md-6 input_div">
                                    <label for="update_date_obtained_year">Year</label>
                                    <select name="update_date_obtained_year" id="update_date_obtained_year">                                                    
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex_row_justify_between_align_center prof_link_btns">
                        <div class="cancel_link">
                        </div>

                        <div class="row pt-4">
                            <div class="site_row text-center invite_btn" id="update_certification_btn">
                                <button class="normal_btn">Update Certification</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>