<!-- The Modal -->
<div class="modal fade job_desc_modal" id="edit_experience_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
          
                <!-- Modal body -->
                <div class="modal-body modal_interview_invite">
                    <div class="site_row mb-5">
                        <div class="site_row">
                            <p>Update Experience</p>
                        </div>                   
                    </div>
					
					<div class="add_experience_modal_form_div">
                        <div class="row">
                            <div class="col-md-12 input_div">
                                <label for="update_company_name"> Company Name </label>
                                <input type="text" name="update_company_name" id="update_company_name">
                            </div>
                        </div>

                        <input type="hidden" name="update_experience_id" id="update_experience_id">
        
                        <div class="row">            
                            <div class="col md-6 input_div">
                                <label for="update_job_title"> Job Title </label>
                                <input type="text" name="update_job_title" id="update_job_title">
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6 input_div">
                                        <label for="update_state">Region</label>
                                        <select name="update_state" id="update_state">
                                        </select>
                                    </div>
            
                                    <div class="col-md-6 input_div">
                                        <label for="update_country">Country</label>
                                        <select name="update_country" id="update_country">
                                            <option value="Ghana">Ghana</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-7 input_div">
                                        <label for="update_start_month"> Start Month </label>
                                        <select name="update_start_month" id="update_start_month">
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5 input_div">
                                        <label for="update_start_year"> Start Year </label>
                                        <select name="update_start_year" id="update_start_year">    
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-7 input_div">
                                        <label for="update_end_month"> End Month </label>
                                        <select name="update_end_month" id="update_end_month">
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5 input_div">
                                        <label for="update_end_year"> End Year </label>
                                        <select name="update_end_year" id="update_end_year">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col md-12 input_div">
                                <label for="update_job_description"> Job Description</label>
                                <textarea name="update_job_description" id="update_job_description" cols="30" rows="4"></textarea>
                            </div>
                        </div>
        
                        <div class="flex_row_justify_between_align_center prof_link_btns">
                            <div class="cancel_link">
                            </div>

							<div class="row pt-4">
								<div class="site_row text-center invite_btn" id="update_experience_btn">
									<button class="normal_btn">Update Experience</button>
								</div>
							</div>
						</div>
                    </div>
                </div>       
            
            </div>
        </div>
    </div>