<div class="modal fade job_desc_modal" id="purchase_cv_modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          
            <!-- Modal body -->
            <div class="modal-body modal_interview_invite">
                <div class="site_row">
                    <div class="site_row py-5">
                        <div class="col-md-12">
                            <div class="input_div">
                                <label for="note"> Purchase CV </label>
                                <textarea name="note" id="note" cols="20" rows="5"
                                    placeholder="Add any additional information">
                                </textarea>
                                <div class="form_error_msg" id="noteErr"></div>
                            </div>                
                        </div>
                    </div>                  
                </div>
    
                <div class="site_row text-center invite_btn">
                    <button>
                        Save
                    </button>
                </div>  
            </div>
          
        </div>
    </div>
</div>