<!-- The Modal -->
<div class="modal fade job_desc_modal" id="set_candidate_application_status_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
          
                <!-- Modal body -->
                <div class="modal-body modal_interview_invite">
                    <div class="site_row mb-5">
                        <div class="site_row">
                            <p>
                                Select Action
                            </p>
                        </div>

                        <div class="site_row">
                            <select name="application_status" id="application_status">
                            </select>
                        </div>                   
                    </div>

                    <div class="site_row">
                        <div class="site_row">
                            <label for="personal_message"> Enter Personal Message</label>
                            <textarea name="personal_message" id="personal_message" cols="20" rows="5"
                                placeholder="e.g. Needs to bring in additional documents"></textarea>
                        </div>

                        <div class="site_row py-5">
                        </div>                  
                    </div>

                    <div class="site_row text-center invite_btn" id="set_application_status_btn">
                        <button>
                            Submit
                        </button>
                    </div>               
                </div>       
            
            </div>
        </div>
    </div>